@import url('https://fonts.googleapis.com/css?family=Muli|Roboto+Slab');

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  header {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url(https://unsplash.imgix.net/45/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=857f07b76abac23a7fb7161cc7b12a46) center no-repeat;
    /* Image Credit: Unsplash.me */
    background-size: cover;
  }
  header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  header h1, header h2 {
    margin: 0;
  }
  header h2 {
    text-transform: uppercase;
    margin-top: -.5em;
  }
  header hgroup {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    border: 5px solid #fff;
    padding: .5em 3em;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  header .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:#333 center no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 0;  -webkit-filter: blur(4px);
  }
  img{
    margin-right:20px
  }
  .site {
    padding: 20em 0;
    text-align: center;
    background-color: #efefef;
    font-size: .8em;
    color: #444;
    position:relative
  }
  .site a {
    color: #666;
    text-decoration: none;
  }
  .site a:hover {
    color: #222;
  }
  
  .site nav{
    position:absolute;
    top:0;
    left:0;
    background:#222;
    width:100%
  }
  .site nav a{
    padding:10px 30px;
    font-size:1.3em;
    display:inline-block
  }
  .site nav a:hover{
    background:#333;
    color:#fff
  }

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
body {
    margin: 0;
    font-family: 'Muli'
}

h1 {
    font-family: 'Muli', serif;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    font-weight: 400;
}

p {
    line-height: 1.75;
}

a {
    color: inherit;
}

section {
    padding: 100px 0px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.start {
    background-color: rgb(51, 96, 131);
    color: white;

}

.middle {
    background-color: rgb(154,199,195);
}

.end {
    background-color: rgb(189, 189, 189);
}

.end-2 {
  background-color: #9CB7BE;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1em 2em;
}
.btn-start {
    background: rgb(36,149,146);
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, .75);
    color:white;
    transition: all ease-in-out 250ms;
}

.btn-start:hover {
    transform: translateY(-10px);
    box-shadow: 0px 18px 5px -10px rgba(0, 0, 0, .75);
}

.btn-middle {
    background: rgb(36,149,146);
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, .75);
    color:white;
    transition: all ease-in-out 250ms;
}

.btn-middle:hover {
    transform: translateY(-10px);
    box-shadow: 0px 18px 5px -10px rgba(0, 0, 0, .75);
}

.btn-end {
    background: rgb(36,149,146);
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, .75);
    color:white;
    transition: all ease-in-out 250ms;
}

.btn-end:hover {
    transform: translateY(-10px);
    box-shadow: 0px 18px 5px -10px rgba(0, 0, 0, .75);
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section.ok{
  background-color: #555;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.progress-container {
  width: 100%;
  height: 10px;
  background: #ccc;
}


.progress-bar {
  height: 10px;
  background: rgb(33, 62, 85);
  width: 0%;
}

.progress-container {
  position: fixed;
  bottom: 0px;
}